In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [6]:
# Load Netflix Stocks Data
netflix_stock_data = pd.read_csv('../data/netflix_stock_data.csv')
# Load Box Office Movies Data
movies_data = pd.read_csv('../data/movies_data.csv')

In [7]:
netflix_stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2663 entries, 0 to 2662
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      2663 non-null   object
 1   Adj Close  2662 non-null   object
 2   Close      2662 non-null   object
 3   High       2662 non-null   object
 4   Low        2662 non-null   object
 5   Open       2662 non-null   object
 6   Volume     2662 non-null   object
dtypes: object(7)
memory usage: 145.8+ KB

In [9]:
netflix_stock_data.head(5)

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,NFLX,NFLX,NFLX,NFLX,NFLX,NFLX
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02 00:00:00+00:00,51.83142852783203,51.83142852783203,52.51142883300781,51.5428581237793,52.40142822265625,12325600
3,2014-01-03 00:00:00+00:00,51.871429443359375,51.871429443359375,52.49571228027344,51.842857360839844,52.0,10817100
4,2014-01-06 00:00:00+00:00,51.36714172363281,51.36714172363281,52.04428482055664,50.47571563720703,51.88999938964844,15501500

In [8]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951 entries, 0 to 3950
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          3951 non-null   int64
 1   Date          3951 non-null   object
 2   Day           3951 non-null   object
 3   Day #         3951 non-null   int64
 4   Top 10 Gross  3951 non-null   object
 5   %± YD         3951 non-null   object
 6   %± LW         3951 non-null   object
 7   Releases      3951 non-null   int64
 8   #1 Release    3951 non-null   object
 9   Gross         3951 non-null   object
dtypes: int64(3), object(7)
memory usage: 308.8+ KB

In [10]:
movies_data.head(5)

,Year,Date,Day,Day #,Top 10 Gross,%± YD,%± LW,Releases,#1 Release,Gross
0,2014,Jan 1\nNew Year's Day,Wednesday,1,"$48,419,707",+35%,-27.9%,49,Frozen,"$8,718,939"
1,2014,Jan 2,Thursday,2,"$25,361,378",-47.6%,-56.6%,49,Frozen,"$5,304,617"
2,2014,Jan 3,Friday,3,"$42,939,384",+69.3%,-26.8%,45,Paranormal Activity: The Marked Ones,"$8,722,144"
3,2014,Jan 4,Saturday,4,"$49,402,611",+15.1%,-19.7%,45,Frozen,"$8,037,475"
4,2014,Jan 5,Sunday,5,"$26,723,321",-45.9%,-44.1%,45,Frozen,"$4,785,996"